[submodule "External/yaml-cpp"]
	path = External/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/llama-cpp"]
	path = External/llama-cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/drogon"]
	path = External/drogon
	url = https://github.com/drogonframework/drogon.git
